#mycanvas {
    border: 5px solid black;
    background-image: url("../images/back.jpeg");
}

button#restart {
    margin-bottom: 15px;
    padding: 4px;
    background-color: #778899;
    font-size: 20pt;
    color: white;
    border-radius: 15px;
}