button#restart {
    margin-bottom: 15px;
    padding: 4px;
    background-color: #778899;
    font-size: 20pt;
    color: white;
    border-radius: 15px;
}

#mycanvas {
    background: url("../images/bg.jpg");
    border: 13px solid green;
}